<div class="container">
  <h1>View Post</h1>

  <a href="#" routerLink="/task/index" class="btn btn-primary">Back</a>

  <div>
    <strong>ID:</strong>
    <p>{{ task.id }}</p>
  </div>

  <div>
    <strong>Title:</strong>

    <p>{{ task.title }}</p>
  </div>

  <div>
    <strong>Objective:</strong>
    <p>{{ task.objective }}</p>
  </div>

  <div>
    <strong>Description:</strong>
    <p>{{ task.description }}</p>
  </div>

  <div>
    <strong>Start date:</strong>
    <p>{{ task.startDate }}</p>
  </div>

  <div>
    <strong>End date:</strong>
    <p>{{ task.endDate }}</p>
  </div>

  <div>
    <strong>Checked:</strong>
    <p>{{ task.checked }}</p>
  </div>

  <div>
    <strong>Priority:</strong>
    <p>{{ task.priority }}</p>
  </div>

  <div>
    <strong>Assigned user:</strong>
    <p>{{ task.assignedUser }}</p>
  </div>
</div>
