<div class="container">
  <h1>View Task</h1>

  <div>
    <strong>ID:</strong>
    <p>{{ taskSecondary.id }}</p>
  </div>

  <div>
    <strong>Title:</strong>

    <p>{{ taskSecondary.title }}</p>
  </div>

  <div>
    <strong>Principal Task Id:</strong>

    <p>{{ taskSecondary.principalTaskId }}</p>
  </div>

  <div>
    <strong>Objective:</strong>
    <p>{{ taskSecondary.objective }}</p>
  </div>

  <div>
    <strong>Description:</strong>
    <p>{{ taskSecondary.description }}</p>
  </div>

  <div>
    <strong>Start date:</strong>
    <p>{{ taskSecondary.startDate }}</p>
  </div>

  <div>
    <strong>End date:</strong>
    <p>{{ taskSecondary.endDate }}</p>
  </div>

  <div>
    <strong>Checked:</strong>
    <p>{{ taskSecondary.checked }}</p>
  </div>

  <div>
    <strong>Priority:</strong>
    <p>{{ taskSecondary.priority }}</p>
  </div>

  <div>
    <strong>Assigned user:</strong>
    <p>{{ taskSecondary.assignedUser }}</p>
  </div>
  <button
    type="button"
    class="btn btn-danger"
    md-raised-button
    (click)="closeDialog()"
  >
    Cancel
  </button>
</div>
