<div class="container">
    <h1>Secondary tasks</h1>
  
    <a href="#" routerLink="/task/index" class="btn btn-primary">Back</a>
    <button class="btn btn-success" mat-button (click)="openDialog()">
      Add new task
    </button>


    <table class="table table-bordered">
      <thead class="black white-text">
        <tr>
          <td>Id</td>
          <td>Principal task id</td>
          <td>Title</td>
          <td>Objective</td>
          <td>Description</td>
          <td>StartDate</td>
          <td>EndDate</td>
          <td>Checked</td>
          <td>Priority</td>
          <td>AssignedUser</td>
          <th width="220px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskSecondary">
          <td>{{ task.id }}</td>
          <td>{{ task.principalTaskId }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.objective }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.startDate }}</td>
          <td>{{ task.endDate }}</td>
          <td>{{ task.checked }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.assignedUser }}</td>
          <td>
            <button
            mat-button
            (click)="openDetailsDialog(task)"
            class="btn btn-info"
          >
            Details
          </button>
            <button
            mat-button
            (click)="openEditDialog(task)"
            class="btn btn-primary"
          >
            Edit
          </button>
          
            <button
              type="button"
              (click)="deletePost(task.id)"
              class="btn btn-danger"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  