<div class="container">
    <h1>Secondary tasks</h1>
  
    <a href="#" routerLink="/childs/create/" class="btn btn-success"
      >Add new</a
    >
  
    <table class="table table-bordered">
      <thead class="black white-text">
        <tr>
          <td>Id</td>
          <td>Principal task id</td>
          <td>Title</td>
          <td>Objective</td>
          <td>Description</td>
          <td>StartDate</td>
          <td>EndDate</td>
          <td>Checked</td>
          <td>Priority</td>
          <td>AssignedUser</td>
          <th width="220px">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let task of taskSecondary">
          <td>{{ task.id }}</td>
          <td>{{ task.principalTaskId }}</td>
          <td>{{ task.title }}</td>
          <td>{{ task.objective }}</td>
          <td>{{ task.description }}</td>
          <td>{{ task.startDate }}</td>
          <td>{{ task.endDate }}</td>
          <td>{{ task.checked }}</td>
          <td>{{ task.priority }}</td>
          <td>{{ task.assignedUser }}</td>
          <td>
            <a
              href="#"
              [routerLink]="['/task-secondary/', task.id, 'view']"
              class="btn btn-info"
              >View</a
            >
            <a
              href="#"
              [routerLink]="['/task-secondary/', task.id, 'edit']"
              class="btn btn-primary"
              >Edit</a
            >
            <button
              type="button"
              (click)="deletePost(task.id)"
              class="btn btn-danger"
            >
              Delete
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  