<div class="container">
  <h1>To do list</h1>

  <button class="btn btn-success" mat-button (click)="openDialog()">
    Add new task
  </button>

  <table class="table table-bordered">
    <tr
      *ngFor="let task of tasks"
      [ngStyle]="{
        'background-color': task.checked === true ? 'green' : 'red'
      }"
    >
      <td>
        <a href="#" routerLink="/task-secondary/{{ task.id }}">
          <p>{{ task.title }}</p></a
        >
      </td>
      <td>{{ task.objective }}</td>
      <td>{{ task.description }}</td>
      <td>{{ task.startDate }}</td>
      <td>{{ task.endDate }}</td>
      <td>{{ task.assignedUser }}</td>
      <td>
        <button
          mat-button
          (click)="openDetailsDialog(task)"
          class="btn btn-info"
        >
          Details
        </button>
        <button
          mat-button
          (click)="openEditDialog(task)"
          class="btn btn-primary"
        >
          Edit
        </button>

        <button
          type="button"
          (click)="deletePost(task.id)"
          class="btn btn-danger"
        >
          Delete
        </button>
      </td>
    </tr>
  </table>
</div>
